<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iliun.com">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Soundeffect"
        >
<!--        android:theme="@style/Theme.Soundeffect.Splash"-->

        <!-- <activity -->
        <!-- android:name=".soundeffect.StarterActivity" -->
        <!-- android:exported="true" -->
        <!-- android:theme="@style/Theme.Soundeffect"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <activity
            android:name=".soundeffect.EtcActivity"
            android:exported="false" />
        <activity
            android:name=".soundeffect.NatureActivity"
            android:exported="false" />
        <activity
            android:name=".soundeffect.ComicActivity"
            android:exported="false" />
        <activity
            android:name=".soundeffect.InstrumentActivity"
            android:exported="false" />
        <activity
            android:name=".soundeffect.BirdActivity"
            android:exported="false" />
        <activity
            android:name=".soundeffect.OfficeActivity"
            android:exported="false" />
        <activity
            android:name=".soundeffect.HumanActivity"
            android:exported="false" />
        <activity
            android:name=".soundeffect.KitchenActivity"
            android:exported="false" />
        <activity
            android:name=".soundeffect.BellActivity"
            android:exported="false" />
        <activity
            android:name=".soundeffect.RhythmActivity"
            android:exported="false" />
        <activity
            android:name=".soundeffect.WeaponActivity"
            android:exported="false" />
        <activity
            android:name=".soundeffect.TransporActivity"
            android:exported="false" />
        <activity
            android:name=".soundeffect.SfActivity"
            android:exported="false" />
        <activity
            android:name=".soundeffect.HororActivity"
            android:exported="false" />
        <activity
            android:name=".soundeffect.ToolActivity"
            android:exported="false" />
        <activity
            android:name=".soundeffect.AnimalActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9826145572344148~2735807302" />

        <activity
            android:name=".soundeffect.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>